# GSD State Files
.gsd/ARCHITECTURE.md
.gsd/DECISIONS.md
.gsd/JOURNAL.md
.gsd/ROADMAP.md
.gsd/SPEC.md
.gsd/STACK.md
.gsd/STATE.md
.gsd/TODO.md
.gsd/SKILLS.md
.gsd/MCPS.md

# OS generated
Thumbs.db
.DS_Store
.agent